:root {
  background: skyblue;
  background-image: conic-gradient(#bae, skyblue, deepskyblue, hotpink, orange);
  color: #050305;
}

:any-link {
  color: inherit;
}

::selection {
  background: indigo;
  color: pink;
}

[contenteditable] {
  background: violet;
}
